# OS Müll
.DS_Store
Thumbs.db

# Editor & IDEs
.vscode/
.idea/

# Secrets & Configs (extrem wichtig für die Zukunft!)
.env
*.local

# Backend & Build-Müll
node_modules/
dist/
build/
venv/
__pycache__/
